@charset "UTF-8";

html,
* {
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  background-color: #f5f5f5;
  font-size: 11px;
}

.serious {

  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


