@charset "UTF-8";


/* セクションの見出し部分（2P以降共通） */

main {
  margin-top: 100px;
}

section.section {
  width: 100%;
  position: relative;
  margin-bottom: 500px;
  padding-bottom: 100px;
}

section.section h2 {
  color: #fff;
  font-weight: bold;
  font-size: 5em;
  background-color: #096;
  position: absolute;
  z-index: 5;
  width: 80%;
  height: 10vh;
  line-height: 10vh;
  text-indent: 50%;

  top: 0vh;
}

section.section h3 {
  color: #fff;
  position: absolute;
  top: 5vh;
  width: 60%;
  right: 0;
  background-color: #333;
  z-index: 4;
  height: 5vh;
  padding-top: 8vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 1.7em;
  text-indent: 50%;
}


section.section h4 {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  height: 15vh;
  color: #333;
  top: 10vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 10vh;
  font-size: 1.3em;
  width: 60%;
  line-height: 2em;
  padding-left: 10%;

}


section.service_1 h3::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #096;
  height: 1vh;
  top: 40vh;
  right: 0;
  width: 120%;
}