@charset "UTF-8";

footer {
  width: 100%;
  height: 30vh;
}

div.footer_wrapper {
  
  border-top: 1px solid #096;
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

div.footer_item {
  width: 40%;
  display: block;
  margin: 50px auto;
}


div.footer_item h2 img {
  width: 50%;
}

div.footer_item p {
  margin-top: 20px;
  font-family: 'Franklin Gothic Medium',
      'Arial Narrow',
      Arial,
      sans-serif;
  font-size: 1.4em;
  line-height: 1.8em;
}

div.footer_item ul {
  text-align: center;
}

div.footer_item ul li {
  font-size: 1.4em;
  line-height: 2.5em;
  
}

div.footer_item ul li a {
  color: #333;
  font-family: 'Franklin Gothic Medium',
      'Arial Narrow',
      Arial,
      sans-serif;
}

div.copyright p {
  color: #096;
  text-align: center;
  width: 99%;
  border: 1px solid #f5f5f5;
  height: 100px;
  line-height: 100px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}