@charset "UTF-8";



/* TOPのコーディング */
header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f5f5f5;
}

header div.head {
  background-color: #333;
  width: 50%;
  height: 9vh;
  z-index: 4;
  position: absolute;
}

header div.head img {
  width: 30%;
  margin-top: 5px;
}


div.head_wrapper {
  width: 100%;
  position: relative;
  display: flex;
}

div.head_item {
  width: 70%;
  height: 50%;
}

div.head_item img {
  width: 70%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  z-index: 4;
  top: 9vh;
}

header::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #009966;
  width: 30%;
  height: 60vh;
  top: 20px;
  left: 30%;
}



nav {
  width: 30%;
}

nav ul {
  width: 100%;
  margin-top: 200px;
}

nav ul li {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 1.4em;
  margin-top: 20px;
}

nav ul li a {
  display: block;
  width: 100%;
  color: #333;

}


nav ul li a.color {
  /* 斜めにつけてる該当ページのやつ。下とセット */
  display: inline-block;
  /* font-size: 16px; */
  /* padding: .8em 1.6em .4em .8em; */
  position: relative;
  color: #fff;
  z-index: 1;
  font-weight: bold;
}

nav ul li a.color::before {
  /* 斜めにつけてる該当ページのやつ。上とセット */
  content: "";
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  /* left: 0; */
  z-index: -1;
  background: #009966;
  /* transform: scaleY(1.3) perspective(.6em) rotateX(5deg); */
  transform: scaleY(1.3) perspective(.9em) rotateX(5deg);
  /* transform-origin: bottom left; */
  transform-origin: bottom right;
  /* border-radius: 8px 8px 0 0; */
}



/* 実績写真のところ */
section.service_2 {
  width: 100%;
  margin-top: 700px;
}

section.service_2 ul {
  display: flex;
}

section.service_2 ul li {
  width: 20%;
}

section.service_2 ul li img{
  width: 90%;
  display: block;
  margin: auto;
}

section.service_2 ul li.middle {
  margin-top: 15vh;
}


section.service_2 ul li.bottom {
  margin-top: 30vh;
}

section.service_2 ul li p {
  text-align: center;
  margin-bottom: 2vh;
  font-size: 1.3em;
}




/* サービス3 */

section.service3 {
  width: 100%;
  margin-top: 500px;
}

div.service3_wrapper {
  width: 100%;
  display: flex;
  position: relative;

}

div.txtbox {
  width: 60%;
  /* height: 600px; */
  position: absolute;
  top: 300px;
  z-index: 8;
  background-color: #fff;
  padding-bottom: 30px;
}

div.txtbox p {
  margin-top: 100px;
  font-size: 1.4em;
  width: 40%;
  display: block;
  margin-left: 15%;
  line-height: 2em;
  background-color: #fff;
  
}

div.imgbox {
  width: 60%;
  height: 30vh;
  position: absolute;
  right: 0;
  z-index: 10;
}




div.imgbox img {
  object-fit: cover;
  width: 100%;
  z-index: 10;
  position: absolute;
}



div.service3_wrapper::after {
  content: "";
  background-color: #009966;
  width: 30%;
  height: 500px;
  display: block;
  position: absolute;
  z-index: 5;
  top: -100px;
  left: 30%;

}

div.service3_wrapper::before {
  content: "";
  background-color: #009966;
  width: 30%;
  height: 500px;
  display: block;
  position: absolute;
  z-index: 5;
  bottom: -850px;
  right: 0;
}


section.contact {
  margin-top: 1500px;

}


/* ここからｺﾝﾀｸﾄ */


section.contact {
  width: 100%;
  margin-top: 1300px !important;
}


section.contact_right {
  width: 100%;
  margin-bottom: 100px;
  padding-bottom: 100px;
  position: relative;
}


section.contact_right::after {
  content: "";
  position: absolute;
  width: 70%;
  z-index: 3;
  background-color: #009966;
  top: -20vh;
  right: 0;
  height: 1vh;
}



section.contact_left {
  width: 100%;
  margin-bottom: 100px;
  padding-bottom: 100px;
  position: relative;
}


section.contact_left::after {
  content: "";
  position: absolute;
  width: 70%;
  z-index: 3;
  background-color: #009966;
  top: -20vh;
  left: 0;
  height: 1vh;
}




div.contact_box {
  background-color: #fff;
  width: 70%;
  display: block;
  margin: 500px auto 100px auto;
  padding-bottom: 100px;
}

div.contact_box h2 {
  font-size: 5em;
  text-align: center;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  padding-top: 70px;
  color: #009966;

}

div.contact_box p {
  text-align: center;
  font-size: 1.7em;
  margin-top: 50px;
  line-height: 50px;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
}

div.contact_box p a {
  text-align: center;
  font-size: 1.1em;
  margin-top: 50px;
  line-height: 70px;
  font-family: 'Franklin Gothic Medium',
    'Arial Narrow',
    Arial,
    sans-serif;
  background-color: #009966;
  color: #fff;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}




