@charset "UTF-8";



/* TOPのコーディング */
header {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f5f5f5;
}

header div.head {
  background-color: #333;
  width: 50%;
  height: 9vh;
  z-index: 4;
  position: absolute;
}

header div.head img {
  width: 30%;
  margin-top: 5px;
}


div.head_wrapper {
  width: 100%;
  position: relative;
  display: flex;
}

div.head_item {
  width: 70%;
  height: 50%;
}

div.head_item img {
  width: 70%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  z-index: 4;
  top: 9vh;
}

header::after {
  content: "";
  position: absolute;
  z-index: 2;
  background-color: #009966;
  width: 30%;
  height: 60vh;
  top: 20px;
  left: 30%;
}



nav {
  width: 30%;
}

nav ul {
  width: 100%;
  margin-top: 200px;
}

nav ul li {
  width: 100%;
  line-height: 50px;
  text-align: center;
  font-size: 1.4em;
  margin-top: 20px;
}

nav ul li a {
  display: block;
  width: 100%;
  color: #333;

}


nav ul li a.color {
  /* 斜めにつけてる該当ページのやつ。下とセット */
  display: inline-block;
  /* font-size: 16px; */
  /* padding: .8em 1.6em .4em .8em; */
  position: relative;
  color: #fff;
  z-index: 1;
  font-weight: bold;
}

nav ul li a.color::before {
  /* 斜めにつけてる該当ページのやつ。上とセット */
  content: "";
  position: absolute;
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  /* left: 0; */
  z-index: -1;
  background: #009966;
  /* transform: scaleY(1.3) perspective(.6em) rotateX(5deg); */
  transform: scaleY(1.3) perspective(.9em) rotateX(5deg);
  /* transform-origin: bottom left; */
  transform-origin: bottom right;
  /* border-radius: 8px 8px 0 0; */
}





/* 実績のところ */

div.works_1 {
  width: 100%;
  position: relative;
}

div.works_wrapper {
  width: 100%;
  display: table;
  position: absolute;
  margin-top: 200px;
  border-bottom: 5px solid #009966;
}

/* div.works_wrapper::after {
  border-bottom: 5px solid #009966;
  content: "";
  width: 80%;
} */

div.works2_item {
  width: 50%;
  height: 300px;
  display: table-cell;
  
}

div.works2_item img {
  width: 100%;
  height: 1000px;
}

div.works2_imgbox_left {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
  position: absolute;
  height: 300px;
  top: 200px;
  left: 0;
}

div.works2_txtbox {
  position: absolute;
  width: 40%;
  top: 200px;
  left: 60%;

}



section.contact {
  margin-top: 1500px;
}